.navbar
{
    height: 15vh;
    background-color: #FFFDF9;;
    margin: 1rem;
    width: 90%;
   display: flex;
 justify-content: center;
   align-items: center;
   gap: 2rem;
   box-shadow:
    0 8px 5px rgba(120, 90, 130, .08);
    border-bottom: none !important;

   padding: 0rem 2rem;
  border-radius: 1.5rem;

  
  position: relative;
}
.clouds
{
  position: absolute;
  top: 16.5%;
  color: #ffffff;
  fill: #FFFDF9;
 

}
.clouds:nth-child(2)
{
    fill: #FFFDF9;
    left: -6%;
}
.clouds:nth-child(3)
{
    left: 2%;

}
.clouds:nth-child(4)
{
    left: 11%;

}
.clouds:nth-child(5)
{
    left: 20%;

}

.clouds:nth-child(6)
{
    left: 29%;

}
.clouds:nth-child(7)
{
    left: 37%;
}
.clouds:nth-child(8)
{
    left: 46.2%;
}
.clouds:nth-child(9)
{
    left: 55.6%;
}
.clouds:nth-child(10)
{
    left: 64.6%;
}
.clouds:nth-child(11)
{
    left: 73%;
}
.clouds:nth-child(12)
{
    left: 78%;
}

#logo
{
    text-decoration: none;
    display: flex;
    
    flex: 2;
    min-height: 0;
}
.navbar_container
{
    display: flex;
    justify-content: center;
}
.logo_link
{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #4f445b;
    font-family: "Jost";
    justify-self: flex-start;
    display: inline ;
    
}
.links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}
#search_bar
{
    border: none;
    background-color: #FFFACC;
}


.search_container
{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 0rem 1rem;
border: 1px solid #be989f;
border-radius: 1rem;


}
.search_container input
{
    padding-right: 5rem;
    border: none;
    padding: 0.5rem 0;
    box-shadow: none;
    opacity: 0.5;
}
.search_container input:focus
{
    outline: none;
    box-shadow: none;
}
.search_container svg
{
    color:#53131E;
    cursor: pointer;
}
.search_container svg:hover
{
    cursor: pointer;
}
#search_bar::placeholder
{
text-align: left;
justify-content: center;
font-size: 1rem;
opacity: 0.5;
}
#search_bar::focus
{
    border: none;
    
}
.links div
{
background-color: #FFEBEE;
display: flex;
justify-content: center;
align-items: center;
padding: 0.6rem;
border-radius: 50%;
width: 30px;
height: 30px    ;
}

.links div svg
{
    width: 30px;
    height: 30px;
    color: #4f445b;
  
}

#profile
{
    text-decoration: none;
    display: flex;
    text-align: end;

   
}

.profile_icon
{
 width: 2rem;
  height: 2.5rem;
margin-left: 0.1rem;
}
.profile_icon:hover
{
    color:#8D6E63;
    cursor: pointer;
    transition: 0.5s;
}
.profile_link
{
    display: flex;
    text-align: end;
}
.my_account a
{
text-decoration: none;
color: black;
}
.cart{
display: flex;
justify-content: flex-start;
align-items: center;

}
.cart:hover
{
   opacity: 0.5;
   transition: 0.5s;
  cursor: pointer;
}
.cart_icon,
.whatsapp_icon,
.instagram_icon
{
  width: 2rem;
  height: 2.5rem;
  stroke: #4f445b;

}
.whatsapp_icon,
.instagram_icon
{
    width: 1.8rem;
}
.cart_icon:hover
{
    opacity: 0.7;
}
.whatsapp_icon
{
  stroke: #4f445b;
  stroke: none;
  stroke-width: 3;
  fill: #4f445b;

}

