.navbar
{
    height: 15vh;
    background-color:#E3F3ED;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0rem 12rem;
   gap: 0.3rem;
}
#logo
{
    text-decoration: none;
  
   
}
.logo_link
{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #4f445b;
    font-family: "Jost";
}
.links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
   
}
#search_bar
{
    border: none;
    background-color: #FFFACC;
}


.search_container
{
display: flex;
justify-content: flex-start;
align-items: center;
padding: 0rem 1rem;
border: 1px solid #be989f;
border-radius: 1rem;


}
.search_container input
{
    padding-right: 5rem;
    border: none;
    padding: 0.5rem 0;
    box-shadow: none;
    opacity: 0.5;
}
.search_container input:focus
{
    outline: none;
    box-shadow: none;
}
.search_container svg
{
    color:#53131E;
    cursor: pointer;
}
.search_container svg:hover
{
    cursor: pointer;
}
#search_bar::placeholder
{
text-align: left;
justify-content: center;
font-size: 1rem;
opacity: 0.5;
}
#search_bar::focus
{
    border: none;
    
}
.my_account
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#profile
{
    text-decoration: none;
    display: flex;
    text-align: end;
    color: #53131E;
   
    
}

.profile_icon
{
 width: 2rem;
  height: 2.5rem;
  color: #53131E;
  margin-right: -0.2rem;

}
.profile_icon:hover
{
    color:#8D6E63;
    cursor: pointer;
    transition: 0.5s;
}
.profile_link
{
    display: flex;
    text-align: end;
}
.my_account a
{
text-decoration: none;
color: black;
}
.cart{
display: flex;
justify-content: flex-start;
align-items: center;

}
.cart:hover
{
   opacity: 0.5;
   transition: 0.5s;
  cursor: pointer;
}
.cart_icon,
.whatsapp_icon,
.instagram_icon
{
  width: 2rem;
  height: 2.5rem;
  color: #53131E;
}
.whatsapp_icon,
.instagram_icon
{
    width: 1.8rem;
}
.cart_icon:hover
{
    opacity: 0.7;
}
